.wrapper {
    background-color: rgb(255, 255, 255);
    width: 650px;
    height: 500px;
    margin: 0 auto;
    border-radius: 15px;

    margin-top: 15vh;
    display: flex;
    row-gap: 15px;

        overflow: hidden;
}



